<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Mad Libs!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the following information to see your Mad Libs!</h1>
    <form action="/MadLib" method="post">
     <label for="name">Your First Name</label>
     <input id="name" name="name" type="text">
     <label for="noun">Enter a noun:</label>
     <input id="noun" name="noun" type="text">
     <label for="anEvent">Enter the name of an event:</label>
     <input id="anEvent" name="anEvent" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>
