<!DOCTYPE html>
<html>
  <head>
    <title>Mad Lib Hall Pass</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Hall Pass</h1>
    <h6>Date: January 1st, 2000</h6>
    <p> @Model.GetName() is too cool <br>
      for @Model.GetNoun() class. <br>
      Instead she/he will be <br>
      attending the @Model.GetAnEvent().
    </p>
    <p> Signed: <h2>Principle Skinner</h2></p>
  </body>
</html>
